@media (max-width: 1024px) {

    h1 {
        font-size: calc(34px + 40 * ((100vw - 320px) / (1280 - 320)));
        padding-top: 20px;
    }

    .nav_menu .burger {
        display: block;
        z-index: 1;
    }

    .nav_menu > ul > li > a {
        font-weight: 600;
    }

    .nav_menu > ul > li > a:hover {
        color: rgba(245, 110, 110, 0.83);
    }

    .nav_menu {
        position: relative;
    }

    .nav_menu > ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        position: absolute;
        top: -150px;
        right: -175px;
        width: 400px;
        height: 400px;
        border-radius: 50%;
        opacity: 0;
        transform: translateX(150px) translateY(110px)rotate(190deg);
        transition: .8s;
    }

    #check-burger:checked ~ ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        background: rgba(21, 19, 15, 0.43);
        opacity: 1;
        transform: translateX(0)rotate(0deg);
        transition: 1s;
    }

    .nav_menu > ul > li {
        padding: 10px 0;

    }

    .header > .wrap p {
        font-size: 32px;
    }

    .nav_menu > ul > li:not(:last-child) {
        margin-right: 0;
    }

    .nav_menu > ul > li > a {
        font-size: 14px;
    }

    /**********services**********/

    .title {
        padding: 80px 0 80px;
    }


    .services_advantages {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 40px;
        padding: 0 0 80px;

    }

    /**********portfolio**********/

    .galery {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-gap: 25px;
        padding: 0 0 80px;

    }

    /**********about**********/

    .about > .wrap {
        grid-gap: 50px;
        padding: 0 0 80px;
    }

    .about > .wrap > .title {
        padding-bottom: 30px;
    }

    .humble,
    .startup,
    .dark-days,
    .triumph,
    .story {
        grid-column-gap: 25px;
    }

    .july-img:after {
        width: 900px;
        left: -218%;
        top: 370%;
    }

    /**********ourteam**********/

    .team {
        grid-gap: 30px;
    }

    .ourteam > .wrap > p {
        padding: 0 0 80px;
    }

    /**********logo**********/
    .envato,
    .wordpress,
    .tuts,
    .microlancer {
        margin: 10px;
    }

    /**********contact**********/

    .contact {
        background-position: right bottom;
        background-size: 55%;
    }

    .form {
        grid-gap: 30px;
        padding: 0 0 80px;
    }

    .form button {
        margin: 10px auto 0;
    }

}


@media (max-width: 768px) {

    .wrap {
        width: 85%;
    }

    .nav_logo a {
        font-size: 46px;
    }

    .nav_menu > ul > li > a {
        font-size: 22px;
    }

    .nav_menu input:checked + .burger {
        transform: rotate(90deg) translateX(-25px) translateY(15px);
    }

    .header {
        padding: 50px 0 40px;
        height: 600px;
    }

    .nav_menu > ul {
        right: -160px;

    }


    /**********services**********/

    .title {
        padding: 40px 0 40px;
    }

    .services_advantages {
        grid-template-columns: repeat(4, 3fr);
        grid-template-rows: 1fr 1fr;
        grid-gap: 30px;
        padding: 0 0 50px;
        justify-items: center;

    }

    .advantages_commerce,
    .advantages_responsive,
    .advantages_security {
        grid-row-gap: 20px;

    }

    .advantages_commerce {
        grid-column: 1/3;
    }

    .advantages_responsive {
        grid-column: 3/5;
    }


    .advantages_security {
        grid-column: 2/4;
    }


    /**********portfolio**********/

    .galery {
        padding: 0 0 50px;

    }

    /**********about**********/

    .about > .wrap {
        grid-row-gap: 50px;
        padding: 0 0 50px;
        justify-items: center;
    }

    .about > .wrap > .title {
        padding-bottom: 20px;
    }

    .july-img:after {
        width: 0;
        height: 0;
    }

    .humble,
    .startup,
    .dark-days,
    .triumph {
        grid-row-gap: 0;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        align-items: center;
    }

    .july-block,
    .december-block,
    .january-block,
    .february-block,
    .story-img {
        grid-column: 2/3;
        grid-row: 1/2;
        text-align: left;
    }

    .july-img,
    .december-img,
    .january-img,
    .february-img {
        grid-column: 1/2;
        grid-row: 1/2;
    }

}

/**********ourteam**********/

.team {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 60px;
    padding: 0 0 50px;
}

.team__marketer {
    grid-column: 1/3;

}

.team__coder {
    grid-column: 3/5;
}

.team__designer {
    grid-column: 2/4;
}

.ourteam > .wrap > p {
    padding: 0 0 40px;
}

/**********logo**********/
.envato,
.wordpress,
.tuts,
.microlancer {
    margin: 0px;
}

.logos > .wrap {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
}

/**********contact**********/

.contact {
    background-size: 65%;
}

.form {
    grid-gap: 20px;
    padding: 0 0 40px;
}

/**********footer**********/

.footer > .wrap {
    background: #fff;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;


}

.footer span {
    color: #555555;
    font-size: 12px;
    display: flex;
    align-items: center;
    height: 50px;
    grid-row: 2/3;

}

.footer-social {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
}


}
